@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* --------------------------------------------------
    BASE
-------------------------------------------------- */

:root {
    --color-background: #FAFAFA;
    --color-text: #303030;
    --color-primary: #7b74e0;
    --color-github: #24292e;
    --color-linkedin: #0a66c2;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: Outfit, sans-serif;
    margin: 0 auto;
    max-width: 30rem;
    padding: 1rem;
}

footer {
    font-size: 0.75rem;
    margin-top: 1rem;
}

/* --------------------------------------------------
    INTRODUCTION
-------------------------------------------------- */

h1 {
    font-weight: 900;
    margin-bottom: 0.25rem;
}

#about {
    font-weight: 600;
    margin-bottom: 1rem;
}

/* --------------------------------------------------
    TILES
-------------------------------------------------- */

.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

a.tile {
    cursor: pointer;
}

.tile {
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    display: inline-flex;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;    
    gap: 0.4rem;
    padding: 0.5rem 1.1rem;
    text-decoration: none;
    transition: background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease;
}

.tile:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-background)
}

.tile.github:hover {
    background-color: var(--color-github);
    border-color: var(--color-github);
    color: var(--color-background);
}

.tile.linkedin:hover {
    background-color: var(--color-linkedin);
    border-color: var(--color-linkedin);
    color: var(--color-background);
}