@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --background-color: light-dark(#FAFAFA, #303030);
    --text-color: light-dark(#303030, #FAFAFA);
    --primary-color: #747fe0;
    --glass-color: rgba(250, 250, 250, 0.2);
}

html.light {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Outfit, sans-serif;
    height: 100dvh;
    padding: 1rem;
}

/* Header */

header {
    align-items: center;
    display: flex;
    gap: 1rem;
}

header span.material-symbols-outlined {
    cursor: pointer;
}

/* Top and Footer */

#intro {
    margin-bottom: 1rem;
    max-width: 25rem;
}

#name {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

#description {
    font-weight: 700;
}

footer {
    margin-top: 1rem;
}

/* Icons and Skills */

#icons, #skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#icons a img, #skills img {
    transition: transform 0.25s ease;
}

#icons a img:hover, #skills img:hover {
    transform: scale(1.05);
}

/* Projects */

#projects {
    display: grid;
    gap: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.project {
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    color: var(--background-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 600px;
    padding: 1rem;
    transition: transform 0.25s ease, box-shadow 0.5s ease;
}

.project:hover {
    box-shadow: 0 0.5rem 5rem 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5rem);
}

.project h3 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

#languages {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.language {
    background-color: var(--glass-color);
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
}

/* Themes Transition */
body {
    transition: background-color 0.25s ease, color 0.25s ease;
}